<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qst.goldenarches.dao.CategoryMapper">
   
   <resultMap id="BaseResultMap" type="com.qst.goldenarches.pojo.Category">
    <id column="category_id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="category_name" jdbcType="VARCHAR" property="name" />
    <result column="printid" jdbcType="INTEGER" property="printid" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="print_type" jdbcType="VARCHAR" property="printType" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <association property="printer" column="printid" select="com.qst.goldenarches.dao.PrinterMapper.getById"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    category_id, parent_id, category_name,printid, state, pic,print_type
  </sql>
   <sql id="baseCategoryList">
       category_id id,parent_id parentId,category_name name,printid,state, pic,print_type
   </sql>
    <insert id="insertCategory">
        INSERT INTO product_category(parent_id,category_name,printid,pic,print_type,create_time,update_time)
         VALUES (#{parentId},#{name},#{printid},#{pic},#{printType},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>
    <update id="updateCategory">
        UPDATE product_category SET 
        <if test="name !=null and name !='' ">
          category_name=#{name}, 
        </if>
        <if test="parentId != null ">
          parent_id=#{parentId},
        </if>
        <if test="printid != null ">
          printid=#{printid},
        </if>
        <if test="printType !=null and printType !='' ">
          print_type=#{printType},
        </if>
        <if test="state !=null and state !='' ">
           state=#{state},
        </if>
        <if test="pic !=null and pic !='' ">
            pic=#{pic},
        </if>
        
        update_time=CURRENT_TIMESTAMP
        WHERE category_id=#{id}
    </update>
    <delete id="deleteCategory">
        DELETE FROM product_category
        WHERE category_id=#{id}
    </delete>
    <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
         SELECT <include refid="Base_Column_List"/>
        FROM product_category
        WHERE category_id=#{id}
    </select>
    
    <update id="deleteByIds">
        update  product_category set state ='1' WHERE category_id IN
        <foreach collection="list" item="categoryid" open="(" close=")" separator=",">
            #{categoryid}
        </foreach>
    </update>
    <select id="query" resultMap="BaseResultMap" parameterType="com.qst.goldenarches.pojo.Category">
        SELECT <include refid="Base_Column_List"/>
        FROM product_category
        <where>
            1=1
            <if test="state !=null">
                AND state = #{state}
            </if>
            <if test="parentId !=null">
                AND parent_id = #{parentId}
            </if>
            <if test="name!=null and name !='' ">
                AND category_name LIKE CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="selectHaveProductCategories" resultType="com.qst.goldenarches.pojo.Category">
        SELECT <include refid="baseCategoryList"/>
        FROM product_category
        WHERE category_id IN (
	          SELECT category_id FROM product_info
	          WHERE category_id IN
              <foreach collection="categoryids" item="categoryid" open="(" close=")" separator=",">
                 #{categoryid}
              </foreach>
        )
    </select>
  
    <select id="queryPrinterByCategoryId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
       SELECT s.printid,s.category_id FROM product_category s WHERE s.category_id=#{categoryId} GROUP BY s.printid,s.category_id
    </select>
    
    
    
</mapper>