<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.goldenarches.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.qst.goldenarches.pojo.OrderDetail">
    <id column="detail_id" jdbcType="INTEGER" property="detailId" />
    <result column="detail_type" jdbcType="VARCHAR" property="detailType" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="round_id" jdbcType="INTEGER" property="roundId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DOUBLE" property="productPrice" />
    <result column="product_number" jdbcType="INTEGER" property="productNumber" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <association property="product" column="product_id" select="com.qst.goldenarches.dao.ProductMapper.selectProductById"/>
  </resultMap>
  <sql id="Base_Column_List">
    detail_id, detail_type,order_id, round_id, product_id, product_name, product_price, product_number, 
    category_id, category_name, state, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </select>
  
  <select id="queryOrderDetail" parameterType="com.qst.goldenarches.pojo.OrderDetail" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_detail
    where 1=1
    <if test="orderId !=null">
       and order_id = #{orderId}
    </if>
    <if test="roundId !=null ">
       and round_id=#{roundId}
    </if>
    <if test="state !=null and state !='' ">
       and state = #{state}
    </if>
    <if test="detailType !=null and detailType !='' ">
       and detail_type in (${detailType})
    </if>
    <if test="categoryId !=null  ">
      and category_id = #{categoryId}
    </if>
    <if test="detailIds !=null and detailIds.size() > 0">
      and detail_id IN
        <foreach collection="detailIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </if>
    order by create_time DESC
  </select>
  
  <select id="queryOrderDetailByGroupCid" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
       <include refid="Base_Column_List" />
    from order_detail
    where 
       detail_id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    GROUP BY category_id
    order by create_time DESC
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_detail
    where detail_id = #{detailId,jdbcType=INTEGER}
  </delete>
  <update id="deleteByOrderId" parameterType="java.lang.Integer">
    update order_detail set state='1'  where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.qst.goldenarches.pojo.OrderDetail">
    <selectKey keyProperty="detailId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_detail (detail_type,order_id, round_id, product_id, 
      product_name, product_price, product_number, 
      category_id, category_name, state, 
      create_time, update_time)
    values (#{detailType,jdbcType=VARCHAR},#{orderId,jdbcType=INTEGER},#{roundId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DOUBLE}, #{productNumber,jdbcType=INTEGER}, 
      #{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR}, '0', 
      CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  
  <!-- 批量插入 -->
   <insert id ="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="detailId" >
        <!-- <selectKey keyProperty="detailId" order="AFTER" resultType="java.lang.Integer">
		      SELECT LAST_INSERT_ID()
		 </selectKey> -->
         insert into order_detail (detail_type, order_id,round_id, product_id, 
	      product_name, product_price, product_number, 
	      category_id, category_name, state, 
	      create_time, update_time)
         values
          <foreach collection ="list" item="item" index= "index" separator =",">
              (
               #{item.detailType,jdbcType=VARCHAR},
                #{item.orderId,jdbcType=INTEGER}, 
               #{item.roundId,jdbcType=INTEGER}, 
               #{item.productId,jdbcType=INTEGER}, 
               #{item.productName,jdbcType=VARCHAR},
               #{item.productPrice,jdbcType=DOUBLE}, 
               #{item.productNumber,jdbcType=INTEGER}, 
               #{item.categoryId,jdbcType=INTEGER}, 
               #{item.categoryName,jdbcType=VARCHAR}, 
               '0', 
               CURRENT_TIMESTAMP, 
               CURRENT_TIMESTAMP)
          </foreach >
   </insert >
  <insert id="insertSelective" parameterType="com.qst.goldenarches.pojo.OrderDetail">
    <selectKey keyProperty="detailId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="detailType != null">
        detail_type,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="roundId != null">
        round_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productNumber != null">
        product_number,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
        state,
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="detailType != null">
        #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="roundId != null">
        #{roundId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
        '0',
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qst.goldenarches.pojo.OrderDetail">
    update order_detail
    <set>
      <if test="detailType != null">
        detail_type = #{detailType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="roundId != null">
        round_id = #{roundId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DOUBLE},
      </if>
      <if test="productNumber != null">
        product_number = #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      update_time = CURRENT_TIMESTAMP
    </set>
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qst.goldenarches.pojo.OrderDetail">
    update order_detail
    set order_id = #{orderId,jdbcType=INTEGER},
      round_id = #{roundId,jdbcType=INTEGER},
      detail_type = #{detailType,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DOUBLE},
      product_number = #{productNumber,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      category_name = #{categoryName,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      update_time = CURRENT_TIMESTAMP
    where detail_id = #{detailId,jdbcType=INTEGER}
  </update>
  
  <select id="getTotalAmountByOrderId" parameterType="java.util.HashMap" resultType="java.lang.Double">
    SELECT SUM(t1.product_price*t1.product_number) as total FROM order_detail t1 WHERE (t1.state='0' or t1.state is NULL) and t1.detail_type='1' and t1.order_id=#{orderId} GROUP BY t1.order_id
  </select>
  
  <select id="queryDrinksAndServiceCount" parameterType="java.lang.Integer" resultType="java.util.HashMap">
	  SELECT 
	  sum(CASE WHEN s.detail_type='1' then 1 else 0 END ) as D_COUNT,
	  sum(CASE WHEN s.detail_type='3' then 1 else 0 END ) as S_COUNT
	 from order_detail s where  s.state='0' and s.order_id=#{orderId} GROUP BY s.order_id
  </select>
  
  
    <select id="queryEveryProTypeSaleNum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	  SELECT t2.category_id,
		(SELECT t1.category_name from product_category t1 where t1.category_id=t2.category_id) as name,
		t2.value
		 FROM (
		SELECT s.category_id,
		sum(s.product_number) as value
		from order_detail s,order_master s1 where s1.order_id=s.order_id and s1.state='0' and s1.status='2' and s.state='0' 
		 <if test="categoryId != null">
		   and  FIND_IN_SET(s.category_id, queryCategoryChildren(#{categoryId}))
		 </if>
		 <if test="startDate != null and startDate !='' ">
		   AND  date_format( s1.open_time, '%Y-%m-%d' ) <![CDATA[ >=  ]]> #{startDate} 
		 </if>
		 <if test="endDate != null and endDate !='' ">
		   and  date_format( s1.open_time, '%Y-%m-%d' ) <![CDATA[ <= ]]> #{endDate}
		 </if>
		GROUP BY s.category_id
		)t2 ORDER BY t2.value DESC
  </select>
  
  <select id="queryAmountMoneyOfType" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	  SELECT t2.category_id,
		(SELECT t1.category_name from product_category t1 where t1.category_id=t2.category_id) as name,
		t2.value
		 FROM (
		SELECT s.category_id,
		sum(s.product_number*s.product_price) as value
		from order_detail s,order_master s1 where s1.order_id=s.order_id and s1.state='0' and s1.status='2' and s.state='0'  AND s.product_price IS not NULL and s.product_price <![CDATA[ >  ]]> 0
		and s.product_number is not NULL AND s.product_number <![CDATA[ >  ]]> 0
		 <if test="categoryId != null and categoryId !='' ">
		   and  FIND_IN_SET(s.category_id, queryCategoryChildren(#{categoryId}))
		 </if>
		 <if test="startDate != null and startDate !='' ">
		   AND  date_format( s1.open_time, '%Y-%m-%d' ) <![CDATA[ >=  ]]> #{startDate} 
		 </if>
		 <if test="endDate != null and endDate !='' ">
		   and  date_format( s1.open_time, '%Y-%m-%d' ) <![CDATA[ <= ]]> #{endDate}
		 </if>
		GROUP BY s.category_id
		)t2 ORDER BY t2.value DESC
  </select>
  
  
  <select id="queryEveryMonthSaleNum" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	   SELECT 
		s.category_id,
		(SELECT t1.category_name from product_category t1 where t1.category_id=s.category_id) as name,
		sum(CASE when date_format( s1.open_time, '%m' )='01' then s.product_number ELSE 0 END) as m1,
		sum(CASE when date_format( s1.open_time, '%m' )='02' then s.product_number ELSE 0 END) as m2,
		sum(CASE when date_format( s1.open_time, '%m' )='03' then s.product_number ELSE 0 END) as m3,
		sum(CASE when date_format( s1.open_time, '%m' )='04' then s.product_number ELSE 0 END) as m4,
		sum(CASE when date_format( s1.open_time, '%m' )='05' then s.product_number ELSE 0 END) as m5,
		sum(CASE when date_format( s1.open_time, '%m' )='06' then s.product_number ELSE 0 END) as m6,
		sum(CASE when date_format( s1.open_time, '%m' )='07' then s.product_number ELSE 0 END) as m7,
		sum(CASE when date_format( s1.open_time, '%m' )='08' then s.product_number ELSE 0 END) as m8,
		sum(CASE when date_format( s1.open_time, '%m' )='09' then s.product_number ELSE 0 END) as m9,
		sum(CASE when date_format( s1.open_time, '%m' )='10' then s.product_number ELSE 0 END) as m10,
		sum(CASE when date_format( s1.open_time, '%m' )='11' then s.product_number ELSE 0 END) as m11,
		sum(CASE when date_format( s1.open_time, '%m' )='12' then s.product_number ELSE 0 END) as m12
		
		from order_detail s,order_master s1 where s1.order_id=s.order_id and s1.state='0' and s1.status='2' and s.state='0' 
		 and date_format( s1.open_time, '%Y' )=#{year}
		<if test="categoryId != null and categoryId !='' ">
		   and  FIND_IN_SET(s.category_id, queryCategoryChildren(#{categoryId}))
		 </if>
		GROUP BY s.category_id
  </select>
  
  <select id="queryEveryMonthMoney" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	  SELECT 
	 sum(CASE when date_format( s1.open_time, '%m' )='01' then s1.total_amount ELSE 0 END) as m1,
	 sum(CASE when date_format( s1.open_time, '%m' )='02' then s1.total_amount ELSE 0 END) as m2,
	 sum(CASE when date_format( s1.open_time, '%m' )='03' then s1.total_amount ELSE 0 END) as m3,
	 sum(CASE when date_format( s1.open_time, '%m' )='04' then s1.total_amount ELSE 0 END) as m4,
	 sum(CASE when date_format( s1.open_time, '%m' )='05' then s1.total_amount ELSE 0 END) as m5,
	 sum(CASE when date_format( s1.open_time, '%m' )='06' then s1.total_amount ELSE 0 END) as m6,
	 sum(CASE when date_format( s1.open_time, '%m' )='07' then s1.total_amount ELSE 0 END) as m7,
	 sum(CASE when date_format( s1.open_time, '%m' )='08' then s1.total_amount ELSE 0 END) as m8,
	 sum(CASE when date_format( s1.open_time, '%m' )='09' then s1.total_amount ELSE 0 END) as m9,
	 sum(CASE when date_format( s1.open_time, '%m' )='10' then s1.total_amount ELSE 0 END) as m10,
	 sum(CASE when date_format( s1.open_time, '%m' )='11' then s1.total_amount ELSE 0 END) as m11,
	 sum(CASE when date_format( s1.open_time, '%m' )='12' then s1.total_amount ELSE 0 END) as m12
	FROM order_master s1 where s1.state='0' AND s1.status='2' AND s1.total_amount is not NULL 
	 AND s1.total_amount <![CDATA[ >  ]]> 0 
	 and date_format(s1.open_time, '%Y' )=#{year}
  </select>
  
  
  
</mapper>