<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.goldenarches.dao.OrderPrinterLogMapper">
  <resultMap id="BaseResultMap" type="com.qst.goldenarches.pojo.OrderPrinterLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="printer_id" jdbcType="INTEGER" property="printerId" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="pinter_type" jdbcType="VARCHAR" property="pinterType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, content, status, state, create_time, update_time,printer_id,msg,pinter_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_printer_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="query" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_printer_log
    where  1=1
       <if test="orderId != null ">
        and  order_id=#{orderId}
      </if>
      <if test="pinterType != null and pinterType !='' ">
        and  pinter_type=#{pinterType}
      </if>
      <if test="state != null and state !='' ">
        and  state=#{state}
      </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_printer_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qst.goldenarches.pojo.OrderPrinterLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_printer_log (order_id, content, status, 
      state, create_time, update_time,printer_id,msg,pinter_type
      )
    values (#{orderId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, '0', 
      '0', #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},#{printerId,jdbcType=INTEGER},
      #{msg,jdbcType=VARCHAR},#{pinterType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qst.goldenarches.pojo.OrderPrinterLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_printer_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="content != null and content !='' ">
        content,
      </if>
        status,
        state,
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="printerId != null">
        printer_id,
      </if>
      <if test="msg != null and msg !='' ">
        msg,
      </if>
      <if test="pinterType != null and pinterType !='' ">
        pinter_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="content != null and content !='' ">
        #{content,jdbcType=VARCHAR},
      </if>
        '0',
        '0',
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="printerId != null">
        #{printerId,jdbcType=INTEGER},
      </if>
      <if test="msg != null and msg !='' ">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="pinterType != null and pinterType !='' ">
        #{pinterType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qst.goldenarches.pojo.OrderPrinterLog">
    update order_printer_log
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="content != null and content !='' ">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="printerId != null">
        printer_id = #{printerId,jdbcType=INTEGER},
      </if>
      <if test="msg != null and msg !='' ">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="pinterType != null and pinterType !='' ">
        pinter_type = #{pinterType,jdbcType=VARCHAR},
      </if>
       update_time = CURRENT_TIMESTAMP
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qst.goldenarches.pojo.OrderPrinterLog">
    update order_printer_log
    set order_id = #{orderId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      printer_id = #{printerId,jdbcType=INTEGER},
      msg = #{msg,jdbcType=VARCHAR},
       pinter_type = #{pinterType,jdbcType=VARCHAR},
      update_time = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryPrintInfo" parameterType="java.lang.Integer" resultType="com.qst.goldenarches.pojo.OrderPrinterLog">
	  SELECT s.order_id as orderId,s.pinter_type as pinterType FROM order_printer_log s where s.state='0' 
	  and s.order_id=#{orderId} GROUP BY s.order_id,s.pinter_type
  </select>
  
  
</mapper>