<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.goldenarches.dao.OrderMsaterMapper">
  <resultMap id="BaseResultMap" type="com.qst.goldenarches.pojo.OrderMsater">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="order_type" jdbcType="VARCHAR" property="orderType" />
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="table_num" jdbcType="VARCHAR" property="tableNum" />
    <result column="adult" jdbcType="INTEGER" property="adult" />
    <result column="child" jdbcType="INTEGER" property="child" />
    <result column="lunch_num" jdbcType="INTEGER" property="lunchNum" />
    <result column="dinner_num" jdbcType="INTEGER" property="dinnerNum" />
    <result column="wait_time" jdbcType="INTEGER" property="waitTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    order_id, buyer_id, order_type, total_amount, table_num, adult, child, lunch_num, 
    dinner_num, wait_time, status,state, open_time, create_time,update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_master
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_master
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qst.goldenarches.pojo.OrderMsater">
    <selectKey keyProperty="orderId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_master (buyer_id, order_type, total_amount, 
      table_num, adult, child, 
      lunch_num, dinner_num, wait_time, 
      status, open_time, create_time,update_time
      )
    values (#{buyerId,jdbcType=INTEGER}, #{orderType,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DOUBLE}, 
      #{tableNum,jdbcType=VARCHAR}, #{adult,jdbcType=INTEGER}, #{child,jdbcType=INTEGER}, 
      #{lunchNum,jdbcType=INTEGER}, #{dinnerNum,jdbcType=INTEGER}, #{waitTime,jdbcType=INTEGER}, 
      '0', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP,CURRENT_TIMESTAMP
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qst.goldenarches.pojo.OrderMsater">
    <selectKey keyProperty="orderId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_master
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="tableNum != null">
        table_num,
      </if>
      <if test="adult != null">
        adult,
      </if>
      <if test="child != null">
        child,
      </if>
      <if test="lunchNum != null">
        lunch_num,
      </if>
      <if test="dinnerNum != null">
        dinner_num,
      </if>
      <if test="waitTime != null">
        wait_time,
      </if>
        status,
        open_time,
        create_time,
        update_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buyerId != null">
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="tableNum != null">
        #{tableNum,jdbcType=VARCHAR},
      </if>
      <if test="adult != null">
        #{adult,jdbcType=INTEGER},
      </if>
      <if test="child != null">
        #{child,jdbcType=INTEGER},
      </if>
      <if test="lunchNum != null">
        #{lunchNum,jdbcType=INTEGER},
      </if>
      <if test="dinnerNum != null">
        #{dinnerNum,jdbcType=INTEGER},
      </if>
      <if test="waitTime != null">
        #{waitTime,jdbcType=INTEGER},
      </if>
        '0',
       CURRENT_TIMESTAMP,
       CURRENT_TIMESTAMP,
       CURRENT_TIMESTAMP
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qst.goldenarches.pojo.OrderMsater">
    update order_master
    <set>
      <if test="buyerId != null">
        buyer_id = #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="orderType != null and orderType !='' ">
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="tableNum != null">
        table_num = #{tableNum,jdbcType=VARCHAR},
      </if>
      <if test="adult != null">
        adult = #{adult,jdbcType=INTEGER},
      </if>
      <if test="child != null">
        child = #{child,jdbcType=INTEGER},
      </if>
      <if test="lunchNum != null">
        lunch_num = #{lunchNum,jdbcType=INTEGER},
      </if>
      <if test="dinnerNum != null">
        dinner_num = #{dinnerNum,jdbcType=INTEGER},
      </if>
      <if test="waitTime != null">
        wait_time = #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="status != null and status !='' ">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="state != null and state !='' ">
        state = #{state,jdbcType=VARCHAR},
      </if>
       update_time = CURRENT_TIMESTAMP
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qst.goldenarches.pojo.OrderMsater">
    update order_master
    set buyer_id = #{buyerId,jdbcType=INTEGER},
      order_type = #{orderType,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      table_num = #{tableNum,jdbcType=VARCHAR},
      adult = #{adult,jdbcType=INTEGER},
      child = #{child,jdbcType=INTEGER},
      lunch_num = #{lunchNum,jdbcType=INTEGER},
      dinner_num = #{dinnerNum,jdbcType=INTEGER},
      wait_time = #{waitTime,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      update_time = CURRENT_TIMESTAMP
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>