<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.goldenarches.dao.SettingMapper">
  <resultMap id="BaseResultMap" type="com.qst.goldenarches.pojo.Setting">
    <id column="Setting_id" jdbcType="INTEGER" property="id" />
    <result column="Setting_app_pwd" jdbcType="VARCHAR" property="appPwd" />
    <result column="Setting_ctl_app_pwd" jdbcType="VARCHAR" property="ctlAppPwd" />
    <result column="Setting_cancel_pwd" jdbcType="VARCHAR" property="cancelPwd" />
    <result column="Setting_logo" jdbcType="VARCHAR" property="logo" />
    <result column="Setting_language" jdbcType="VARCHAR" property="language" />
    <result column="Setting_lunch_num" jdbcType="INTEGER" property="lunchNum" />
    <result column="Setting_dinner_num" jdbcType="INTEGER" property="dinnerNum" />
    <result column="Setting_wait_time" jdbcType="INTEGER" property="waitTime" />
    <result column="Setting_adult_lunch_price" jdbcType="DOUBLE" property="adultLunchPrice" />
    <result column="Setting_adult_dinner_price" jdbcType="DOUBLE" property="adultDinnerPrice" />
    <result column="Setting_child_lunch_price" jdbcType="DOUBLE" property="childLunchPrice" />
    <result column="Setting_child_dinner_price" jdbcType="DOUBLE" property="childDinnerPrice" />
    <result column="Setting_service_printer_id" jdbcType="DOUBLE" property="servicePrinterId" />
    <association property="servicePrinter" column="Setting_service_printer_id" select="com.qst.goldenarches.dao.PrinterMapper.getById"/>
  </resultMap>
  <sql id="Base_Column_List">
    Setting.id as Setting_id, 
    Setting.app_pwd as Setting_app_pwd, 
    Setting.ctl_app_pwd as Setting_ctl_app_pwd, 
    Setting.cancel_pwd as Setting_cancel_pwd, 
    Setting.logo as Setting_logo, 
    Setting.language as Setting_language, 
    Setting.lunch_num as Setting_lunch_num, 
    Setting.dinner_num as Setting_dinner_num, Setting.wait_time as Setting_wait_time,
    Setting.adult_lunch_price as Setting_adult_lunch_price,
    Setting.adult_dinner_price as Setting_adult_dinner_price,
    Setting.child_lunch_price as Setting_child_lunch_price,
    Setting.child_dinner_price as Setting_child_dinner_price,
    Setting.service_printer_id as Setting_service_printer_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_setting Setting
    where Setting.id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="getSettingInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_setting Setting
    order by Setting.id desc
     LIMIT 1
  </select>
 
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qst.goldenarches.pojo.Setting">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_setting (app_pwd,ctl_app_pwd,cancel_pwd,logo,language, lunch_num, dinner_num, 
      wait_time,adult_lunch_price,adult_dinner_price,child_lunch_price,child_dinner_price)
    values (#{appPwd,jdbcType=VARCHAR},
      #{ctlAppPwd,jdbcType=VARCHAR},
      #{cancelPwd,jdbcType=VARCHAR},
      #{logo,jdbcType=VARCHAR},
      #{language,jdbcType=VARCHAR},
      #{lunchNum,jdbcType=INTEGER}, 
      #{dinnerNum,jdbcType=INTEGER}, 
      #{waitTime,jdbcType=INTEGER},
      #{adultLunchPrice,jdbcType=DOUBLE},
      #{adultDinnerPrice,jdbcType=DOUBLE},
      #{childLunchPrice,jdbcType=DOUBLE},
      #{childDinnerPrice,jdbcType=DOUBLE},
      #{servicePrinterId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qst.goldenarches.pojo.Setting">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appPwd != null">
        app_pwd,
      </if>
      <if test="ctlAppPwd != null">
        ctl_app_pwd,
      </if>
      <if test="cancelPwd != null">
        cancel_pwd,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="lunchNum != null">
        lunch_num,
      </if>
      <if test="dinnerNum != null">
        dinner_num,
      </if>
      <if test="waitTime != null">
        wait_time,
      </if>
      <if test="adultLunchPrice != null">
        adult_lunch_price,
      </if>
      <if test="adultDinnerPrice != null">
        adult_dinner_price,
      </if>
      <if test="childLunchPrice != null">
        child_lunch_price,
      </if>
      <if test="childDinnerPrice != null">
        child_dinner_price,
      </if>
      <if test="servicePrinterId != null">
        service_printer_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appPwd != null">
        #{appPwd,jdbcType=VARCHAR},
      </if>
      <if test="ctlAppPwd != null">
        #{ctlAppPwd,jdbcType=VARCHAR},
      </if>
      <if test="cancelPwd != null">
        #{cancelPwd,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="lunchNum != null">
        #{lunchNum,jdbcType=INTEGER},
      </if>
      <if test="dinnerNum != null">
        #{dinnerNum,jdbcType=INTEGER},
      </if>
      <if test="waitTime != null">
        #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="adultLunchPrice != null">
        #{adultLunchPrice,jdbcType=DOUBLE},
      </if>
      <if test="adultDinnerPrice != null">
        #{adultDinnerPrice,jdbcType=DOUBLE},
      </if>
      <if test="childLunchPrice != null">
        #{childLunchPrice,jdbcType=DOUBLE},
      </if>
      <if test="childDinnerPrice != null">
        #{childDinnerPrice,jdbcType=DOUBLE},
      </if>
      <if test="servicePrinterId != null">
        #{servicePrinterId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qst.goldenarches.pojo.Setting">
    update t_setting
    <set>
      <if test="appPwd != null">
        app_pwd = #{appPwd,jdbcType=VARCHAR},
      </if>
      <if test="ctlAppPwd != null">
        ctl_app_pwd = #{ctlAppPwd,jdbcType=VARCHAR},
      </if>
      <if test="cancelPwd != null">
        cancel_pwd = #{cancelPwd,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
       <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="lunchNum != null">
        lunch_num = #{lunchNum,jdbcType=INTEGER},
      </if>
      <if test="dinnerNum != null">
        dinner_num = #{dinnerNum,jdbcType=INTEGER},
      </if>
      <if test="waitTime != null">
        wait_time = #{waitTime,jdbcType=INTEGER},
      </if>
      <if test="adultLunchPrice != null">
        adult_lunch_price = #{adultLunchPrice,jdbcType=DOUBLE},
      </if>
      <if test="adultDinnerPrice != null">
        adult_dinner_price = #{adultDinnerPrice,jdbcType=DOUBLE},
      </if>
      <if test="childLunchPrice != null">
        child_lunch_price = #{childLunchPrice,jdbcType=DOUBLE},
      </if>
      <if test="childDinnerPrice != null">
        child_dinner_price = #{childDinnerPrice,jdbcType=DOUBLE},
      </if>
      <if test="servicePrinterId != null">
        service_printer_id = #{servicePrinterId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qst.goldenarches.pojo.Setting">
    update t_setting
    set app_pwd = #{appPwd,jdbcType=VARCHAR},
      ctl_app_pwd = #{ctlAppPwd,jdbcType=VARCHAR},
      cancel_pwd = #{cancelPwd,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      lunch_num = #{lunchNum,jdbcType=INTEGER},
      dinner_num = #{dinnerNum,jdbcType=INTEGER},
      wait_time = #{waitTime,jdbcType=INTEGER},
      adult_lunch_price = #{adultLunchPrice,jdbcType=DOUBLE},
      adult_dinner_price = #{adultDinnerPrice,jdbcType=DOUBLE},
      child_lunch_price = #{childLunchPrice,jdbcType=DOUBLE},
      child_dinner_price = #{childDinnerPrice,jdbcType=DOUBLE},
      service_printer_id = #{servicePrinterId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>