table {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

/* table tbody tr:nth-child(odd){background:#F4F4F4;}
table tbody td:nth-child(even){color:#C00;} */
#lunchNum .slider-selection {
	background: green;
}

#lunchNum .slider-track-high {
	background: #e0efe0;
}

#dinnerNum .slider-selection {
	background: #6d4e18;
}

#dinnerNum .slider-track-high {
	background: #e0d8ca;
}

#waitTime .slider-selection {
	background: #862b10;
}

#waitTime .slider-track-high {
	background: #b9b9a0;
}
.container{
	width: 100%
}
.container .row{
	width: 100%
}
.container .row .left{
	width: 24%;
    height: 380px;
    overflow: auto;
    float: left;
}
.container .row .right{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 76%;
}
.container .row .right .panel-body{
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.table .total{
	float: right;
    font-size: 22px;
    margin-top: 22px;
}


.input-no-border input {
  background-color:transparent!important;
  border:0!important;
}
.input-no-border input:focus {
    outline: none!important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

.ml20{
	margin-left: 20px;
}  
.w20{
	width:20%;
}  